@model User

@{
  var layout = ViewData["layout"] as string;
  
  if (layout != null){
    Layout = layout;
  }
}

<div class="container">
    <div class="profile">
        
        <div class="personal_info">
            @if (Model.IsAdmin)
            {
                <p class="title main-title">
                    Настойки профиля<span style="color: gold">&nbsp;&nbsp;[Admin]</span>
                </p>
            }
            else
            {
                <p class="title main-title">
                    Настойки профиля
                </p>
            }
            <p class="description">
                Управляйте данными учетной записи, включая ваше имя, контактные данные и прочую информацию.
            </p>
        </div>
        <form class="form account_forms" enctype="multipart/form-data" method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="@Url.Action("SaveChanges")" data-ajax-complete="onSaveChanges">
            <div class="profile__photo photo">
                <p class="title"> Аватар </p>
                <p class="description">
                    Выберите изображения аватара.
                </p>
                
                <div class="photo-container photo">
                    <div class="photo__username_photo">
                        <img src="@Model.Photo" alt="Example" width="184px" height="184px">
                    </div>
                    <div class="photo__upload">
                        <input type="file" name="photo" accept="image/jpeg,image/png" class="photo__upload input">
                        <p class="description">
                            Загрузите файл со своего устройсва. Нужно квадратное изображение хотя бы 
                            184 на 184 пикселя.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="account_forms">
                <p class="title"> Данные учетной записи </p>
                <div class="account account-container">
                    <div class="form_element account_forms__username">
                        <p class="form_desc description">
                            Отображаемое имя
                        </p>
                        <input class="form_element__username" id="account_username" name="login" type="text"
                               placeholder="Отображаемое имя" value="@Model.Login">
                    </div>
                
                
                    <div class="form_element account_forms__email">
                        <p class="form_desc description">
                            Личная ссылка
                        </p>
                        <input class="form_element__url" id="account_url" name="url" type="text"
                               value="@Model.UserUrl">
                        <span>
                            Ваш профиль будет находиться по адресу: https://redswanstore/profile/user?<span>@Model.UserUrl</span>
                        </span>
                  
                    </div>
                </div>
                
            </div>
            
            
            
            <div class=" account_forms">
                <p class="title"> Личные данные </p>
                <p class="description">
                    Эти личные данные конфиденциальны и не показываются другим пользователям.
                </p>
                <div class="form__personal_info account-container">
                    <div class="form_element account_forms__name">
                        <label>
                            <p class="form_desc description">
                                Имя
                            </p>
                            <input class="form_element__username" id="name" name="name" type="text"
                                   placeholder="Имя" autocomplete="name" value="@Model.Name">
                        </label>
                    </div>
                                
                            
                    <div class="form_element account_forms__surname">
                        <label>
                            <p class="form_desc description">
                                Фамилия
                            </p>
                            <input class="form_element__username" id="surname" name="surname" type="text"
                                   placeholder="Фамилия" value="@Model.Surname">
                        </label>
                    </div>
                </div>
                
            </div>
            
            <div class="account_forms">
                <p class="title"> Сменить пароль </p>
                <p class="description">
                    В целях безопасности мы рекомендуем выбрать пароль, который ещё не использовался Вами в других учётных записях.
                </p>
                <div class="account account-container">
                    <div class="form_element account_forms__password">
                        <label>
                            <p class="form_desc description">
                                Текущий пароль
                            </p>
                            <input class="form_element__password" id="old_pass" name="oldPassword" type="password"
                                   placeholder="Текущий пароль" value="">
                        </label>
                    </div>
                    
                    <div class="form_element account_forms__new-pass">
                        <label>
                            <p class="form_desc description">
                                Новый пароль
                            </p>
                            <input class="form_element__new-pass" id="account_new-pass" name="newPassword" type="password"
                                   placeholder="Новый пароль" value="">
                        </label>
                    </div>
                
                    <div class="form_element account_forms__new-pass">
                        <label>
                            <p class="form_desc description">
                                Подтвердите новый пароль
                            </p>
                            <input class="form_element__new-pass" id="account_new-pass-repeat" name="new_pass" type="password"
                                   placeholder="Подтвердите пароль" value="">
                        </label>
                    </div>
                </div>
                
            </div>
            
            
            
            
            
            <div class="buttons-container">
                <div class="form__buttons account-container">
                    <div class="form_element account_forms__reset">
                        <button class="form_element__button button active" id="reset_changes" type="reset" readonly>
                            <span class="button-label"> Отмена </span>
                        </button>
                    </div>


                    <div class="form_element account_forms__submit">
                        <button class="form_element__button button active" id="save_changes" type="submit" readonly>
                            <span class="button-label"> Сохранить изменения </span>
                        </button>
                    </div>
                </div>
                
            </div>
            
            
        </form>
        

   
    </div>
</div>

<script src="~/libs/JQuery/jquery-3.6.0.js"></script>
<script src="~/libs/JQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/profile.js"></script>