@using RedSwanStore.Data.Interfaces
@model HomeViewModel

@{
  var layout = ViewData["layout"] as string;

  if (layout != null){
    Layout = layout;
  }

  // if user clicked 'Search' button on the other page and was redirected to home page, then open search input 
  bool isRedirectedFromOtherPageBySearchBtn = ViewBag.isRedirectedFromOtherPageBySearchBtn;
  var hidden = isRedirectedFromOtherPageBySearchBtn ? "" : "hidden";
}

<div class="container">
  <div class="search">
    <form class="form @hidden" id="search_form">
      <div class="search form_element">
        <input type="text" id="search" name="search" placeholder="Поиск" maxlength="60">
      </div>
      <button class="search_button button" type="submit">
        <span class="form_icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20" preserveAspectRatio="xMidYMid meet">
            <g transform="scale(1 -1) rotate(-45 -11.93502884 -2)" stroke="currentColor" stroke-width="1.65" fill="none" fill-rule="evenodd">
              <circle cx="7.70710678" cy="7.70710678" r="7"></circle>
              <path d="M15.2071068 8.62132034h5.6923881" stroke-linecap="square"></path>
            </g>
          </svg>
        </span>
      </button>
    </form>
  </div>
  
  @{
    if (isRedirectedFromOtherPageBySearchBtn)
    {
      <script>document.querySelector('#search_form input').focus()</script>
    }
  }
  
  <div class="game-catalog">

    <section class="game-catalog__browse section">

      <div class="section_dropdown">
        <div class="dropdown">
          <button class="dropdown_button" aria-expanded="false" aria-haspopup="true">
            <h4>Сортировка:</h4><span class="dropdown_button__toggleLabel">Актуальность</span>
          </button>

          <div class="dropdown__submenu submenu hidden">
            @foreach ((var key, KeyValuePair<string, SortingTypes> value) in HomeViewModel.SortingItems)
            {
              <button class="submenu__button sort-button" data-type="sort" data-controller-arg="@key"><span> @value.Key </span></button>
            }
          </div>
        </div>
      </div>

      <!-- game card  -->
      <div class="section__games games" id="games-cards">
        @await Html.PartialAsync("_GamesListPartial", Model.Games)
      </div>

      <!-- no-game-was-found message -->

      <div class="section_empty empty hidden">

        <div class="empty__title">
          <span>
            Нет результатов
          </span>
        </div>

        <div class="empty__description">
          <span>
            К сожалению, по Вашему запросу ничего не найдено :(
          </span>
        </div>

      </div>
    </section>

    <aside class="game-catalog__filter filter">
      <h4 class="check">Фильтр</h4>
      <ul class="filter__options options">
        <li class="options__item options__genres"> <span> Жанр </span>
          <ul>
            @foreach (var item in Model.GenresFilters)
            {
              <li data-type="genre" data-controller-arg="@item.UrlId" data-checked="false"> @item.Name </li>
            }
          </ul>
        </li>
        <li class="options__item"> <span>Цена</span>
          <ul>
            @foreach (var item in Model.PriceFilters.OrderByDescending(pc => pc.MinPrice))
            {
              <li data-type="price" data-controller-arg="@item.UrlId" data-checked="false"> @item.Name </li>
            }
          </ul>
        </li>
        <li class="options__item"> <span>Особенности</span>
          <ul>
            @foreach (var item in Model.FeaturesFilters)
            {
              <li data-type="feature" data-controller-arg="@item.UrlId" data-checked="false"> @item.Name </li>
            }
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</div>

<script src="~/libs/JQuery/jquery-3.6.0.js"></script>
<script src="~/libs/JQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/index.js"></script> 
<script src="js/search.js"></script>
