@using RedSwanStore.Utils
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Red Swan Store</title>
    <link rel="stylesheet" href="~/css/index.css"/>

</head>
<body>
<header>
    
    @{
        User user = ViewBag.User;
    }

    <nav>
        <ul class="menu">
            <li class="store-icon">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="store-icon"></div>
                </a>
            </li>

            <li><a asp-controller="Home" asp-action="Index">Магазин</a></li>
            <li><a asp-controller="GameManagement" asp-action="AddGame">Добавить игру</a></li>
            <li id="search_button"><a>Поиск</a></li>
        </ul>
        <div class="rightNav">
            <div class="rightNav__item sign-in dropdown">


                <span class="dropdown_button__toggleLabel">
                    <a class="header-user-info" href="/profile/user?@user.UserUrl">
                        <img class="header-user-info__photo" src="@user.Photo" alt="photo" width="45" height="45">
                        @if (user.IsAdmin)
                        {
                            <span class="header-user-info__login">@user.Login</span><span style="color: gold">&nbsp;&nbsp;[Admin]</span>
                        }
                        else
                        {
                            <span class="header-user-info__login">@user.Login</span>
                        }
                    </a>
                </span>

                <div class="dropdown__submenu submenu">

                    <button class="submenu__button">

                        <span class="user_balance"> Баланс
                            <span class="balance">
                                @user.Balance.ConvertToPrice()
                            </span>
                        </span>

                    </button>


                    <button class="submenu__button">
                        <a href="/library/user?@user.UserUrl">
                            <span> Библиотека </span>
                        </a>
                    </button>

                    <button class="submenu__button ">
                        <span> <a asp-controller="Login" asp-action="Logout">Выйти</a> </span>
                    </button>

                </div>

            </div>

            <div class="rightNav__item download"><a href="#download">Установить приложение</a></div>
        </div>
    </nav>

</header>
<main role="main" class="pb-3">
    
    @RenderBody()
</main>


@await RenderSectionAsync("Scripts", required: false)
</body>

</html>