@using System.Globalization
@using RedSwanStore.Utils
@model Game

@{
  var layout = ViewData["layout"] as string;
  
  if (layout != null){
    Layout = layout;
  }
    User user = ViewBag.User;
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class="container">
@if (user != null && user.IsAdmin)
{
    <div class="wrapper">
        <h1 class="title"> @Model.Name </h1>

        <div class="admin_panel">

            <a class="admin_panel__edit" href="#nothing">
                <img src="img/pencil.png" alt="edit">
            </a>

            <a class="admin_panel__delete" href="#nothing">
                <img src="img/trash-can.png" alt="delete">
            </a>
        </div>
    </div>
}
else
{
    <h1 class="title"> @Model.Name </h1>
}

<div class="game">
    <section class="game_section">
        <div class="video_player">
            <div class="owl-carousel owl-theme">
                @{
                    var screenshotsLinksList = Model.GameMedia.Screenshots.SplitLinksToList();
                    var trailersLinksList = Model.GameMedia.Trailers.SplitLinksToList();

                    foreach (var trailer in trailersLinksList)
                    {
                        <div class="item-video">
                            <a class="owl-video" href="@trailer"> </a>
                        </div>
                    }
                    
                    foreach (var screenshot in screenshotsLinksList)
                    {
                        <div>
                            <img src="@screenshot" alt="@Model.Name - screenshot">
                        </div>
                    }
                }
            </div>
        </div>


        <div class="short-desc">
            @Model.GameInfo.ShortDescription
        </div>

    <div class="game-info">
        <div class="game-info__column column">
            <span class="column_developer">
                Разработчик
            </span>

            <span class="column_developer_name">
                @Model.Developer
            </span>
        </div>

        <div class="game-info__column column">
            <span class="column_genre">
                Жанр
            </span>

            <span class="column_genre_name">
                @{
                    for (var i = 0; i < Model.GameFilter.Genres.Count; i++)
                    {
                        @Model.GameFilter.Genres[i].Name@(i == Model.GameFilter.Genres.Count - 1 ? "" : ", ")
                    }
                }
            </span>
        </div>

        <div class="game-info__column column">
            <span class="column_date">
                Дата выхода
            </span>

            <span class="column_date_date">
                @Model.GameInfo.ReleaseDate.Date.ToShortDateString()
            </span>
        </div>

        <div class="game-info__column column">
            <span class="column_rate">
                Средняя оценка
            </span>

            <span class="column_rate">
                @(Model.GameInfo.Rating == 0 ? "Отсутствует" : Model.GameInfo.Rating.ToString())
            </span>
        </div>


    </div>

    <div class="description">
        @Html.Raw(Model.GameInfo.DetailedDescription)
    </div>

    <div class="system-req">
        <h2> Системные требования </h2>
        <div class="system-req table">
            <div class="table_column column">
                <div class="row">
                    <span class="title">
                        Минимальные
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        ОС
                    </span>

                    <span>
                        @Model.GameSystemRequirements.SupportedOses
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Процессор
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MinCpu
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Память
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MinRamMB.ConvertToNormalizedSize(out var t1).ToString() @t1
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Видеокарта
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MinGpu
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Место на диске
                    </span>

                    <span>
                        @Model.GameSystemRequirements.DiskSpaceMB.ConvertToNormalizedSize(out var t2).ToString() @t2
                    </span>
                </div>
            </div>


            <div class="table_column column">
                <div class="row">
                    <span class="title">
                        Максимальные
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        ОС
                    </span>

                    <span>
                        @Model.GameSystemRequirements.SupportedOses
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Процессор
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MaxCpu
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Память
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MaxRamMB.ConvertToNormalizedSize(out var t3).ToString() @t3
                    </span>
                </div>

                <div class="row">
                    <span class="title">
                        Видеокарта
                    </span>

                    <span>
                        @Model.GameSystemRequirements.MaxGpu
                    </span>
                </div>

            </div>

            <div class="table_column language">
                <span class="title">
                    Поддерживаемые языки
                </span>
                <span>
                    [ОЗВУЧИВАНИЕ]: @Model.GameSystemRequirements.SupportedVoiceLanguages
                    <br>
                    [ТОЛЬКО ТЕКСТ]: @Model.GameSystemRequirements.SupportedTextLanguages
                </span>
            </div>

            <div class="table_column legal-info">
                @Html.Raw(Model.GameInfo.LegalInfo)
            </div>

        </div>
    </div>
</section>

<aside class="game_buy">
    <div class="game-picture">
        <img src="@Model.GameInfo.Cover" alt="@Model.Name">
    </div>

    <div class="price">
        @if (Model.GameInfo.Discount != 0)
        {
            <div class="price discount"> @(Math.Round(Model.GameInfo.Discount * 100, 0).ToString()) %</div>
            <div class="price old-price">@(Model.GameInfo.Price.ConvertToPrice())</div>
        }
        <div class="price new-price">@((Model.GameInfo.Price * (decimal) (1 - Model.GameInfo.Discount)).ConvertToPrice())</div>
    </div>

    @if (Model.GameInfo.Discount != 0)
    {
        var discountEnd = Model.GameInfo.DiscountEndDate;
        var discountEndDate = discountEnd.Date.ToShortDateString();
        var discountEndHour = discountEnd.Hour < 10 ? $"0{discountEnd.Hour.ToString()}" : discountEnd.Hour.ToString();
        var discountEndMinute = discountEnd.Minute < 10 ? $"0{discountEnd.Minute.ToString()}" : discountEnd.Minute.ToString();

        <div class="sale">
            Распродажа заканчивается @discountEndDate в @discountEndHour:@discountEndMinute
        </div>
    }


    @if (ViewBag.hasGameInLib)
    {
        <button class="button button-info" type="button" disabled>
            <span> В коллекции </span>
        </button>
    }
    else
    {
        <button class="button active" id="buy-btn" type="button">
            <span> Купить сейчас </span>
        </button>
    }

</aside>
</div>

<div class="game-popup hidden">
    <div class="game-popup-window">
        <h2 class="title">Оформить заказ</h2>
        <div class="game-popup-window__main">
            <div class="add-funds"></div>
            <div class="game-popup-window__game-info">
                <h2 class="title">Описание заказа</h2>
                <div class="game-popup-window_el game-info__image">
                    <img src="@Model.GameInfo.Cover" alt="@Model.Name">
                </div>
                <div class="game-info__game-description description">
                    <div class="description__game-title">@Model.Name</div>
                    <div class="description__game-dev">От: @Model.Developer</div>
                    <div class="description__game-rating">Средняя оценка:
                        @(Model.GameInfo.Rating == 0 ? "Отсутствует" : Model.GameInfo.Rating.ToString())</div>
                    <div class="description__game-release-date">Дата выхода: @Model.GameInfo.ReleaseDate.ToShortDateString()</div>
                    <div class="form_element">
                        <button class="form_element__button button active" id="cancel-btn" type="submit" readonly>
                            <span class="button-label"> Отменить </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/libs/JQuery/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="js/owl.js"> </script>


<script>
    let buyBtn = document.querySelector('#buy-btn');
    let cancelBtn = document.querySelector('#cancel-btn');
    let popup = document.querySelector('.game-popup');
    let popupContent = $('.game-popup-window__main');
    
    
    cancelBtn.addEventListener('click', function(e) {
       popup.classList.add('hidden');
    });

    if (buyBtn) {
        buyBtn.addEventListener('click', function(e) {
            popup.classList.remove('hidden');
            
            $.ajax({
               type: 'post',
               url: '/game/purchase-window',
               data: {
                   gameId: "@Model.GameUrl"
               },
               dataType: 'html',
               success: (html) => {
                   popupContent.children()[0].remove();
                   popupContent.prepend(html);
                   
                   let commitTransactionBtn = document.querySelector('#commit-transaction');
                   commitTransactionBtn.addEventListener('click', function(e) {
                       $.ajax(ajaxOptions);
                   });
               },
               error: () => {
                   window.location.replace('/login?returnUrl=/game?gameId=@Model.GameUrl');
               }
            });
        });
    }
</script>
