@using System.Globalization
@model Game

@{
  var layout = ViewData["layout"] as string;
  
  if (layout != null){
    Layout = layout;
  }
}

<div class="container">
    <h1 class="title"> @Model.Name </h1>
    <div class="game">
        <section class="game_section">
            <div class="video_player">
            
                //add a video here please (
            </div>
            
            <div class="short-desc">
                @Model.GameInfo.ShortDescription
                
            </div>
            
            <div class="game-info">
                <div class="game-info__column column">
                    <span class="column_developer">
                        Разработчик
                    </span>
                    
                    <span class="column_developer_name">
                        @Model.Developer
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_genre">
                        Жанр
                    </span>
                                    
                    <span class="column_genre_name">
                        @{
                            for (var i = 0; i < Model.GameFilter.Genres.Count; i++)
                            {
                                @Model.GameFilter.Genres[i].Name@(i == Model.GameFilter.Genres.Count - 1 ? "" : ", ")
                            }
                        }
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_date">
                        Дата выхода
                    </span>
                                    
                    <span class="column_date_date">
                        @Model.GameInfo.ReleaseDate.Date.ToShortDateString()
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_rate">
                        Средняя оценка
                    </span>
                                                    
                    <span class="column_rate">
                        @Model.GameInfo.Rating.ToString()
                    </span>
                </div>
                

            </div>
            
            <div class="description">
                @Html.Raw(Model.GameInfo.DetailedDescription)
                
            </div>
            
            <div class="system-req">
                <h2> Системные требования </h2>
                <div class="system-req table">
                    <div class="table_column column">
                        <div class="row">
                            <span class="title">
                                Минимальные
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                ОС
                            </span>
                            
                            <span>
                                @Model.GameSystemRequirements.SupportedOses
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Процессор                        
                            </span>
                                                    
                            <span>
                                @Model.GameSystemRequirements.MinCpu
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Память                     
                            </span>
                                                    
                            <span>
                                @Model.GameSystemRequirements.MinRamMB.ToString() МБ.
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Видеокарта
                            </span>
                                                    
                            <span>
                                @Model.GameSystemRequirements.MinGpu
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Место на диске
                            </span>
                                                                            
                            <span>
                                @Model.GameSystemRequirements.DiskSpaceMB.ToString() МБ.
                            </span>
                        </div>
                    </div>
                    
                    
                    <div class="table_column column">
                        <div class="row">
                            <span class="title">
                                Максимальные
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                ОС
                            </span>
                                                
                            <span>
                                @Model.GameSystemRequirements.SupportedOses
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Процессор                        
                            </span>
                                                                        
                            <span>
                                @Model.GameSystemRequirements.MaxCpu
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Память                     
                            </span>
                                                                        
                            <span>
                                @Model.GameSystemRequirements.MaxRamMB.ToString() МБ.
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Видеокарта
                            </span>
                                                                        
                            <span>
                                @Model.GameSystemRequirements.MaxGpu
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Место на диске
                            </span>
                                                                                                
                            <span>
                                @Model.GameSystemRequirements.DiskSpaceMB.ToString() МБ.
                            </span>
                        </div>
                        
                    </div>
                    
                    <div class="table_column language">
                        <span class="title">
                            Поддерживаемые языки
                        </span>
                        <span>
                            [ОЗВУЧИВАНИЕ]: @Model.GameSystemRequirements.SupportedTextLanguages
                            <br>
                            [ТОЛЬКО ТЕКСТ]: @Model.GameSystemRequirements.SupportedVoiceLanguages
                        </span>
                    </div>
                    
                    <div class="table_column legal-info">
                        @Html.Raw(Model.GameInfo.LegalInfo)
                    </div>
                    
                </div>
            </div>
            
            
        

        </section>

        <aside class="game_buy">
            <p>
                ffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffff
            </p>

        </aside>
    </div>
    
</div>
